.footer {
  background: #0B547F;
  color: white;
  text-align: center;
  padding: 50px 5%;
  border-radius: 30px 30px 0px 0px;
  width: 100%;
}

.footer-content {
  max-width: 100%;
  margin: 0 auto;
}

.footer-text {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
